trigger:
 branches:
    include:
      - main

stages:
  - stage: 
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: 
        steps:
          - script: echo 'hello world'